Source: bunsen-user-setup
Section: misc
Priority: extra
Maintainer: John Crawley <john@rafflesnagoya.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-user-setup
Vcs-Git: https://github.com/BunsenLabs/bunsen-user-setup.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-user-setup.git

Package: bunsen-user-setup
Architecture: all
Depends: ${misc:Depends}, rpl, tar, lightdm
Description: BunsenLabs user setup script
 A script to copy user configuration files into the user's 
 home directory, and perform other small operations.
 From cb-slim by Philip Newborough
